*.pyc
*.so
*.egg-info
*.whl
build/bazel*
dist/
.ipynb_checkpoints
/bazel-*
.jax_configure.bazelrc
/tensorflow
.DS_Store
.mypy_cache/
.pytype/
docs/build
*_pb2.py
docs/notebooks/.ipynb_checkpoints/
docs/_autosummary
.idea
.vscode
jax.iml

# virtualenv/venv directories
venv/
bin/
include/
lib/
share/

### Added by Hedron's Bazel Compile Commands Extractor: https://github.com/hedronvision/bazel-compile-commands-extractor
# The external link: Differs on Windows vs macOS/Linux, so we can't check it in. The pattern needs to not have a trailing / because it's a symlink on macOS/Linux.
/external
# Compiled output -> don't check in
/compile_commands.json
# Directory where clangd puts its indexing work
/.cache/
